# Ignore Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environments
venv/
lvenv/

# Ignore environment variable files
.env

# Ignore IDE/editor specific files
.idea/
.vscode/
*.swp
*.swo

# Ignore log files
*.log

# Ignore coverage reports
.coverage
htmlcov/

# Ignore distribution files
dist/
build/
*.egg-info/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore other common files
*.bak
*.tmp
log_incremental*