graphrag
Flask==3.0.3
Flask-Cors==4.0.0
langchain==0.1.15
langchain-community==0.0.32
langchain-core==0.1.41
langchain-openai==0.1.2
langchain-text-splitters==0.0.1
langchainhub==0.1.15
langdetect==1.0.9
langsmith==0.1.40
PyMuPDF==1.24.1
openai
tiktoken
cohere
faiss-cpu
cryptography
celery
redis
requests
asyncio
sentence_transformers
groq